// 颜色
$accentColor = #1890ff
$textColor = #000000d9
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.custom-block.tip {
    border-color: #1890ff;
}
